.App {
  text-align: center;
  background-image: url('pexels-stanislav-kondratiev-2908983.jpg');
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  font-family:Cursive; 
  font-size: 120px;
  color: #00284e;  
}
select{
  position: relative;
  top: 30px;
}

.pos{
  font-family:Cursive; 
  font-size: 50px;
  color: #32830d;  

}
.neg{
  font-family:Cursive; 
  font-size: 50px;
  color: #ff0202;  

}


